.previous
{
      display: flex;
      justify-content:space-between;
      width: 100%;
      height: 40px;
      border: 0px solid ;
      font-size: 30px;
      padding-bottom:14px;
    }
.previous button
     {
background:linear-gradient(rgb(55, 237, 243),rgb(95, 247, 0)) ;
width: 80px;
height: 30px;
text-align: center;
border-radius:20px;
     }
a
 {
    text-decoration: none;
    color:inherit;
    color:rgb(64, 0, 255);
}


#vocab
{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: repeat(4,1fr);
      gap:10px;
      width:100%;
      margin-top:100px;
}
 .item
{
    text-align: center;
      width: 100%;
      height:30px;
      border-radius: 30px;
      box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.644);
}

.item:hover{
      transform: scale(1.08);
}


.item{
      background:linear-gradient(rgb(248, 200, 200),rgb(255, 255, 172),rgba(255, 118, 118, 0.57));
}

body{
      background-color: rgb(209, 228, 222);
}


   h3
 {
  width: 300px; 
height: 100px;
  display: flex;
  justify-content: center;
  background:-webkit-linear-gradient(30deg,white,red,yellow,black);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
background-size: 300%;
transition: 3s ease;
animation: dem 10s linear infinite;
padding-top: 10px;  
}
  @keyframes dem{
   0%{
      background-position: 0% center ;
margin-left: 0%;   
}
40%{
margin-left: 40%;         
}
60%{
      margin-left: -20%; 
}
   100%{
background-position: 300% center;
margin-left: -40%;   
}
  }

.item a{
      font-size: 13px;
      font-weight: bold;
}


